<div class="center jumbotron">
  <h1>Off We Fly, première plateforme de co-avionnage</h1>

  <h2>
    Vous êtes sur la page d'acceuil de l'application web 
  </h2>

  <%= link_to "Inscrivez-vous dès maintenant!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

