<footer class="footer">
  <small>
     <a href="http://www.offwefly.co">Notre prestataire partenaire pour la prise de vues aeriennes</a>
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "Qui sommes-nous", about_path %></li>
      <li><%= link_to "prendre contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Niouze</a></li>
    </ul>
  </nav>
</footer>